<div class="alert alert-info" *ngIf="!pais; else divPais">
  Espere por favor...
</div>

<ng-template #divPais>
  <div class="row">
    <div class="col-12">
      <h1>
        País: <small>{{ pais.name }}</small>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="pais.flag" [alt]="pais.name" class="img-thumbnail" />
    </div>

    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población:</strong> {{ pais.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Código Numérico:</strong> {{ pais.numericCode }}
        </li>
        <li class="list-group-item">
          <strong>Código Alpha3:</strong> {{ pais.alpha3Code}}
        </li>
      </ul>
    </div>
  </div>

  <h3>Traducciones</h3>
  <div class="row">
    <div class="col">
      <small>br: </small>
      <span class="badge bg-primary mr-1">{{ pais.translations.br }}</span>
      <small>de: </small>
      <span class="badge bg-primary mr-1">{{ pais.translations.de }}</span>
      <small>es: </small>
      <span class="badge bg-primary mr-1">{{ pais.translations.es }}</span>
      <small>fa: </small>
      <span class="badge bg-primary mr-1">{{ pais.translations.fa }}</span>
      <small>fr: </small>
      <span class="badge bg-primary mr-1">{{ pais.translations.fr }}</span>
      <small>hr: </small>
      <span class="badge bg-primary mr-1">{{ pais.translations.hr }}</span>
      <small>hu: </small>
      <span class="badge bg-primary mr-1">{{ pais.translations.hu }}</span>
      <small>it: </small>
      <span class="badge bg-primary mr-1">{{ pais.translations.it }}</span>
      <small>ja: </small>
      <span class="badge bg-primary mr-1">{{ pais.translations.ja }}</span>
      <small>pt: </small>
      <span class="badge bg-primary mr-1">{{ pais.translations.pt }}</span>
    </div>
  </div>

  <pre class="mt-5">
    {{ pais | json }}
  </pre>
</ng-template>
